body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

header {
  text-align: center;
  margin: 100px 5% 0;
  color: #2155cd;
  font-family: ubuntu;
}

.navbar {
  margin: 25px auto;
  width: 80%;
  font-size: x-large;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix {
  clear: both;
}

.card {
  margin: 0 0 60px;
  padding: 20px 40px;
  width: 460px;
  box-shadow: 0 8px 26px -4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background: var(--white);
}

.content {
  margin: 0px auto;
  width: 70%;
}

footer {
  text-align: center;
  margin: 50px auto 0;
  background-color: #2155cd;
  color: #e8f9fd;
  clear: both;
  width: 100%;
  bottom: 0;
  position: fixed;
}

footer a {
  color: #e8f9fd;
  text-decoration: none;
}

footer a:hover {
  color: #e8f9fd;
}

.flashes {
  list-style-type: none;
  padding-left: 0%;
}

#book-list {
  background-color: #e8f9fd;
}

#book-form {
  margin: 0 auto;
  width: 65%;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
}
