body {
  background-color: #fcdec0;
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  text-align: center;
  margin: 100px auto 50px;
  color: #7d5a50;
}

.content {
  background-color: #e5b299;
  margin: 0 5%;
}

footer {
  text-align: center;
  margin: 50px auto 0;
  background-color: #7d5a50;
  color: #e5b299;
  clear: both;
  width: 100%;
  bottom: 0;
  position: fixed;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: #fff;
}
