{% with messages = get_flashed_messages(with_categories = true) %}
{% if messages %}
  <ul class="flashes">
    {% for category, message in messages %}
      <li>
        <div class="alert alert-{{ category }}" role="alert">
          <strong>{{ message }}</strong>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endif %}
{% endwith %}

{% if books %}
  <table class="table table-hover" id="book-list">
    <thead class="table-ligth">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Image</th>
        <th scope="col">Title</th>
        <th scope="col">Authors</th>
        <th scope="col">Language</th>
        <th scope="col">Edition</th>
        <th scope="col">Pages</th>
        <th scope="col">Borrow Date</th>
        <th scope="col">Return Date</th>
        <th scope="col" colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for book in books %}
        <tr>
          <th scope="row">{{loop.index}}</th>
          <td hidden="true">{{book._id}}</td>
          <td>
            <img src="/static/{{ book.image }}" alt="{{ book.title }}" width="42" height="60"/>
          </td>
          <td>{{ book.title }}</td>
          <td>{{ book.authors|join(' - ') }}</td>
          <td>{{ book.language }}</td>
          <td>{{ book.edition }}</td>
          <td>{{ book.page }}</td>
          <td>{{ borrow_history.borrow_date }}</td>
          <td>{{ borrow_history.return_date }}</td>
          <td>
            <a href="/book/borrow/{{ book._id }}" type="button" class="btn btn-primary">Return</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <div class="alert alert-danger" role="alert">
    <strong>No books found</strong>
  </div>
{% endif %}
