{% extends 'base.html' %}

{% block title %}Book List{% endblock %}

{% block header %}
  <h1>Book List</h1>
{% endblock %}

{% block content %}

  <form action="/book" method="GET" class="row g-2 mb-3" style="float:right">
    <div class="input-group">
      <div class="form-outline">
        <input type="text" class="form-control" placeholder="Search" name="search">
      </div>
      <button type="submit" class="btn btn-primary">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
  </form>

  <div class="clearfix"></div>

  {% with messages = get_flashed_messages(with_categories = true) %}
  {% if messages %}
    <ul class="flashes">
      {% for category, message in messages %}
        <li>
          <div class="alert alert-{{ category }}" role="alert">
            <strong>{{ message }}</strong>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}

  {% if books %}
    <table class="table table-hover" id="book-list">
      <thead class="table-ligth">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Image</th>
          <th scope="col">Title</th>
          <th scope="col">Authors</th>
          <th scope="col">Pages</th>
          <th scope="col">Year</th>
          <th scope="col" colspan="2">Actions</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for book in books %}
          <tr>
            <th scope="row">{{loop.index}}</th>
            <td hidden="true">{{book._id}}</td>
            <td>
              <img src="/static/{{ book.image }}" alt="{{ book.title }}" width="42" height="60"/>
            </td>
            <td>{{ book.title }}</td>
            <td>{{ book.authors|join(' - ') }}</td>
            <td>{{ book.page }}</td>
            <td>{{ book.year }}</td>
            <td>
              <a href="/book/update/{{ book._id }}" type="button" class="btn btn-primary">Update</a>
            </td>
            <td>
              <a href="/book/delete/{{ book._id }}" type="button" class="btn btn-danger">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="alert alert-danger" role="alert">
      <strong>No books found</strong>
    </div>
  {% endif %}
{% endblock %}
