{% extends 'base.html' %}

{% block title %}Book List{% endblock %}

{% block header %}
  <h1>Book List</h1>
{% endblock %}

{% block content %}
  {% if books %}
    <table class="table table-hover">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Image</th>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
          <th scope="col">Pages</th>
          <th scope="col">Year</th>
          <th scope="col" colspan="2">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for book in books %}
          <tr>
            <th scope="row">{{loop.index}}</th>
            <td hidden="true">{{book._id}}</td>
            <td>{{book.imageLink}}</td>
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.pages}}</td>
            <td>{{book.year}}</td>
            <td>
              <a href="#" type="button" class="btn btn-primary">Update</a>
            </td>
            <td>
              <a href="#" type="button" class="btn btn-danger">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="alert alert-danger" role="alert">
      <strong>No books found</strong>
    </div>
  {% endif %}
{% endblock %}
